<section>
    <div class="boxH">
        <div class="container">
            <div class="nomeRockMode">
                <div class="header">
                    <h1 class="titleRock">Bookopen</h1>
                </div>

                <div class="imagem">
                    <img src="./Projeto.jpg" width="100%" height="486px">
                </div>

                <div class="meio">
                    <p>Uma rede social feita para estudantes.</p>
                    <p> <a class="cadastro" routerLink="cadastro">Cadastre-se</a> e venha compartilhar seus
                        conhecimentos.</p>
                </div>
            </div>

            <div class="containerBox">
                <div class="boxLogin">

                    <form #customerForm="ngForm"  (ngSubmit)="onSubmit()">
                        <div class="containerL ">
                            <input type="text" placeholder="Email ou Telefone" id="email" required
                                [(ngModel)]="model.email" name="email" #email="ngModel" >
                        </div>
                        <div class="error" [hidden]="email.valid || email.pristine">Email obrigatório</div>

                        <div class="containerL">
                            <input type="password" placeholder="Senha" id="password" required
                                [(ngModel)]="model.password" name="password" #password="ngModel">
                        </div>
                        <div class="error" [hidden]="password.valid || password.pristine">Senha obrigatório</div>

                        <div class="containerL">
                            <a class="b"><button type="submit" [disabled]="!customerForm.form.valid">Entrar</button></a>
                        </div>

                    </form>

                    <div class="containerLa">
                        <a routerLink="recuperarSenha">Esqueceu a senha?</a>
                    </div>

                    <div class="containerL">

                    </div>

                    <div class="containerLb">
                        <a routerLink="cadastro"><button>Criar nova Conta</button></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<router-outlet></router-outlet>