.boxH {
    background-color:  var(--color-cinzaMetal-1);
    width: 100%;
    height: 900px;
    padding-top: 92px;
    padding-bottom: 92px;
    display: flex;
}

.boxH .container {
    background-color: var(--color-cinzaMetal-1);
    width: 980px;
    height: 536px;
    margin: auto;
    display: flex;
    border-radius: 6px;
}

.boxH .container.nomeRockMode {
    width: 536px;
    
}

.boxH .container .nomeRockMode .header {
    background-color: var(--color-cinzaMetal-1);
    width: 584px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boxH .container .nomeRockMode .header .titleRock {
    font-family: inherit;
    align-items: right;
    padding: 10px 0 10px 0px;
    font-size: 30px;
    display: flex;
    color: #0866ff;
} 

.boxH .container .nomeRockMode .imagem {
 
    
}

.boxH .container .nomeRockMode .imagem img {
    border-radius: 6px;
}

.boxH .container .nomeRockMode .meio {
    font-size: 19px;
    font-family: inherit auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxH .container .nomeRockMode .meio a {
    text-decoration: none;
    color: #42b72a;
}

.boxH .container .nomeRockMode .meio a:hover {
    text-decoration: underline;
}



.boxH .container .containerBox {
    background-color: var(--color-cinzaMetal-1);
    width: 50%;
    height: 100%;
    display: flex;
    
}

.boxH .container .containerBox .boxLogin  {
    margin: 50px 0 0 0 ;
    width: 396px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    border-radius: 0 6px 6px 0;
}

.boxH .container .containerBox .boxLogin .containerL {
    
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    align-items: none;
    padding: 0px 10px 0 10px ;
    justify-content: center;
    margin: 15px 0 0 0 ;
}

.boxH .container .containerBox .boxLogin .containerL input {
    height: 50px;
    width: 100%;
    border-radius: 6px;
    padding: 14px 16px;
    border: 1px solid var(--color-vermelhoEscuro-1) ;
    font-size: 17px;
    font-family: inherit auto;
    display: flex;
    border-radius: 6px;
    
}

.boxH .container .containerBox .boxLogin .containerL a  {    
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;   
    font-size: 16px;   
}

.boxH .container .containerBox .boxLogin .containerL a button:hover {
    background-color: #095ceb;
}

.boxH .container .containerBox .boxLogin  .containerLa {
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boxH .container .containerBox .boxLogin .containerLa a {
    height: 50px;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;   
    font-size: 16px;
    border-bottom: var(--color-cinzaMetal-1) 1px solid;
    margin-top: 10px;
    border-radius: 6px;
}

.boxH .container .containerBox .boxLogin .containerLa a:hover {
    background-color: #fafafa;
    text-decoration: underline;
}

.boxH .container .containerBox .boxLogin .containerLb {
    margin: 50px 10px 0 10px;
}

.boxH .container .containerBox .boxLogin .containerLb a  {   
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;   
    font-size: 16px;
    margin: 0 auto 0 auto;   
}

.boxH .container .containerBox .boxLogin .containerL  a button{
    display: flex;
    justify-content: center;
    font-size: 20px;    
    background-color: #0866ff;
    color: white;
    width: 100%;
    height: 50px;
    align-items: center;
    border-radius: 6px ;
    outline: none;
    cursor: pointer;
}

.boxH .container .containerBox .boxLogin .containerLb a button {
    display: flex;
    justify-content: center;
    font-size: 20px;    
    background-color: #42b72a;
    color: white;
    width: 200px;
    height: 50px;
    align-items: center;
    border-radius: 6px ;
    text-decoration: none;
    cursor: pointer;      
}

.boxH .container .containerBox .boxLogin .containerLb a button:hover {
    background-color: #1ca002;
}

@media (max-width: 768px) {


    .boxH .container {
        background-color: var(--color-cinzaMetal-1);
        width: 980px;
        height: 536px;
        margin: auto;
        display: flex;
        border-radius: 6px;
        flex-direction: column;
        align-items: center;
    
    }

    .boxH .container .nomeRockMode .imagem {
 
        height: 488px;
        width: 584px;
        display: none;
        
    }

    .boxH .container .nomeRockMode .header {
        background-color: var(--color-cinzaMetal-1);
        width: 584px;
        height: 50px;
        display: flex;
    
    }

    .boxH .container .containerBox .boxLogin .containerLb a button {
        display: flex;
        justify-content: center;
        font-size: 20px;    
        background-color: #42b72a;
        color: white;
        width: 200px;
        height: 50px;
        align-items: center;
        border-radius: 6px ;
        text-decoration: none;
        cursor: pointer;  
        margin-bottom: 25px;    
    }
    
    
}

