<section>
    <div class="boxH">
        <div class="container">
            <div class="nomeRockMode">
                <div class="header">
                    <h1 class="titleRock">Bookopen</h1>
                </div>

                <div class="imagem">
                    <img src="./Projeto.jpg" width="100%" height="486px">
                </div>

                <div class="meio">
                    <p>Uma rede social feita para estudantes.</p>
                    <p> <a class="cadastro" routerLink="cadastro" >Cadastre-se</a> e venha compartilhar seus conhecimentos.</p>
                </div>
            </div>

            <div class="containerBox">
                <div class="boxLogin">
                    <div class="containerL ">
                        <input type="email or number " placeholder="Email ou Telefone">
                    </div>

                    <div class="containerL">
                        <input type="password" placeholder="Senha">
                    </div>

                    <div class="containerL">
                        <a class="b"><button>Entrar</button></a>
                    </div>

                    <div class="containerLa">
                        <a href="">Esqueceu a senha?</a>
                    </div>

                    <div class="containerL">

                    </div>

                    <div class="containerLb">
                        <a routerLink="cadastro"><button>Criar nova Conta</button></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>