<section>
    <div class="header">
        <div class="bookopen">
            <a class="titu" routerLink="">
                <h1>Bookopen</h1>
            </a>
        </div>

        <div class="login">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Senha">
            <a routerLink=""><button class="entrar">Entrar</button></a>
            <a class="semconta" routerLink="/cadastro">Não tem conta?</a>
        </div>


    </div>
</section>

<section>
    <div class="container">
        <div class="containerBox">
            <div class="titulo">
                <h1>Encontre sua conta</h1>
            </div>

            <div class="paragrafo">
                <p>Insira seu email para procurar sua conta</p>
            </div>

            <form #customerForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="procura">
                    <input type="text" placeholder="Email" required [(ngModel)]="model.email" name="email" #email="ngModel">
                    <div class="erro0" [hidden]="email.valid || email.pristine">Insira um email válido.</div>
                </div>

                <div class="enviar">
                    <button routerLink="">Cancelar</button>
                    <button type="submit" [disabled]="!customerForm.form.valid" >Pesquisar</button>
                </div>
            </form>

            <div class="contato">
                <p>Se não receber o seu e-mail imediatamente, por favor, tente novamente mais tarde.</p>
            </div>

            <div class="social">
                <p>Aproveite nossa rede social Bookopen</p>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>