<section>
    <div class="header">
        <div class="bookopen">

        </div>

        <div class="login">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Senha">
            <a><button class="entrar">Entrar</button></a> 
            <a routerLink="/cadastro">Não tem conta?</a>
        </div>


    </div>
</section>

<section>
    <div class="container">
        <div class="containerBox">
            <div>
                <h1>Encontre sua conta</h1>
            </div>

            <div>
                <p>Insira seu email para procurar sua conta</p>
            </div>

            <div>
                <input type="text" placeholder="Email">
            </div>

            <div>
                <button>Cancelar</button>
                <button>Pesquisar</button>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>