.boxH {
    background: linear-gradient(180deg, var(--color-aliceblue-1)15% , var(--color-aliceblue-2)100%);
    width: 100%;
    height: 900px;
    padding-top: 92px;
    padding-bottom: 92px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boxH .container {
    background-color: aqua;
    display: flex;
    width: 500px;
    height: 720px;
    flex-direction: column;
    align-items: center;
}