.boxH {
    background: linear-gradient(180deg, var(--color-aliceblue-1)15% , var(--color-aliceblue-2)100%);
    width: 100%;
    height: 900px;
    padding-bottom: 92px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.boxH .bookopen {
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif inherit , auto;
}

.boxH .bookopen h1 {
    font-size: 60px;
    color: #0866ff;
}

.boxH .container {
    position: relative;
    background-color: #fffefe;
    display: flex;
    width: 400px;
    height: 670px;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 1px 5px 10px 3px rgb(165, 158, 158);
    box-shadow: 1px 5px 8px 2px rgb(128, 125, 125);
}

.boxH .container .containerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(167, 164, 164);
    margin-bottom: 10px;
}

.boxH .container .containerBox p {
    color: rgb(73, 72, 72);
    margin-bottom: 10px;
}

.boxH .container form {
    width: 100%;
    flex-direction: column;
    padding: 5px 15px 5px 15px;
    
}

.boxH .container form input {
    padding: 10px 5px 10px 5px;
    font-size: 15px;
    border-radius: 4px ;
    border: 1px solid;
}


.boxH .container form .left {
    display: flex;
    float: left;
    flex-direction: column;
    position: relative;
}

.boxH .container form .rigth {
    display: flex;
    float: right;
    flex-direction: column;
    position: relative;
}

.boxH .container form .left input {
    width: 175px;
    height: 30px;
}
.boxH .container form .rigth input {
    width: 175px;
    height: 30px;
}

.boxH .container form .data {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
}

.boxH .container form .datas {
    font-size: 17px;
    margin: 10px 0 10px 0;
    height: 30px;
}

.boxH .container form .nascimento {
    height: 30px;
    width: 100%;
    display: flex;
}

.boxH .container form select {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid;
}

.boxH .container form .data .nascimento  .sel1 {
    margin: 0 20px 0 0; 
}

.boxH .container form .data .nascimento  .sel2 {
    margin: 0 20px 0 0 ; 
}

.boxH .container form .data .nascimento  .sel3 {
    margin: 0 0 0 0;
}

.boxH .container form .gen {
    margin: 50px 0 0 0;
}

.boxH .container form .gen .gene {
    margin: 10px 0 10px 0;
    font-size: 17px;
}

.boxH .container form .gen .option {
    margin: 10px 0 15px 0;
}

.boxH .container form .cel .cele {
    width: 100%;
    margin: 0 0 15px 0;
}

.boxH .container form .emai {
    margin: 0 0 15px 0;
    position: relative;
}

.boxH .container form .emai .email {
    width: 100%;
}

.boxH .container form .sen {
    margin: 0 0 15px 0;
    position: relative;
}

.boxH .container form .sen .senha {
    width: 100%;   
}

.boxH .esp a {
    text-decoration: none;
}

.boxH .esp {
    justify-content: center;
    display: flex;
}

.boxH .esp a button {
    display: flex;
    justify-content: center;
    font-size: 20px;    
    background-color: #42b72a;
    color: white;
    width: 200px;
    height: 50px;
    align-items: center;
    border-radius: 6px ;
    cursor: pointer; 
}

.boxH .esp a button:hover {
    
    background-color: #1ca002;
}

.boxH .parag {
    margin: 10px ;
    color: rgb(73, 72, 72)
    
}

.boxH .parag p {
    font-size: 13px;
}

.boxH .jatem {
    margin: 40px 0 0 0 ;
}

.boxH .jatem a {
    text-decoration: none;
    cursor: pointer;
    font-size: 19px;
}

.boxH .jatem a:hover {
    background-color: #f0e8e8;
    text-decoration: underline;
}

.erro0 {
    position: relative;
    color: red;
    margin: 5px 0 0 0 ;
    border-left: 6px solid red;
    padding-left: 10px;
}

.erroSenha {
  position: absolute;
  top: 100%;
  left: -210px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px;
  border-radius: 4px;
  margin-top: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-82%);
  width: 190px ;
  height: 50px;
}

.erroEmail {
  position: absolute;
  top: 100%;
  left: 390px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px;
  border-radius: 4px;
  margin-top: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-140%);
  width: 130px ;
  height: 30px;
}

.erroNome {
    position: absolute;
    top: 100%;
    left: -150px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px;
    border-radius: 4px;
    margin-top: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-107%);
    width: 130px ;
    height: 30px;
}

.erroSobrenome {
  position: absolute;
  top: 100%;
  left: 195px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px;
  border-radius: 4px;
  margin-top: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-72%);
  width: 130px;
  height: 45px;
}

.erroSenha.valid {
    display: none;
}

.sen .erroSenha span.valid {
    color: rgb(0, 0, 0);
    display: none;
}

.boxH .container form .sen .erroSenha span.valid {
    display: none;
}

.showPassword {
    position: absolute;
    margin-top: -35px;
    margin-left: 335px;
    
}

.showPassword button {
    height: 30px;
    width: 30px;
}

.showPassword button:hover {
    cursor: pointer;
}
.showPassword button img {
    height: 30px;
    width: 30px;
    
}