.boxH {
    background: linear-gradient(180deg, var(--color-aliceblue-1)15% , var(--color-aliceblue-2)100%);
    width: 100%;
    height: 900px;
    padding-top: 92px;
    padding-bottom: 92px;
    display: flex;
}

/* rodapé */

.rodape {
    width: 100%;
    height: 53px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}
