* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}

:root {
    --color-preto-1: #000000;
    --color-vermelhoEscuro-1: #8B0000;
    --color-aliceblue-1: aliceblue;
    --color-aliceblue-2: rgb(219, 224, 228);
    --color-azultitulo-1: #0866ff;
}
